body {
    background-image: url(images/mobilebg.jpg);
}

/*SKRIFTTYPER OG LINKS STYLE*/

h1 {
    font-size: 2rem;
    color: #2b645d;
}

.col2 h2 {
    font-size: 1.3rem;
    color: #2b645d;
}

p {
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.col2 .link {
    position: relative;
    font-size: 2.3rem;
    background-color: white;
    text-align: left;
}

/*INDHOLD */

#animation {
    background-color: white;
    box-sizing: border-box;
    margin-right: 1vw;
    margin-left: 1vw;
}

.col1 {
    padding-left: 4vw;
    padding-right: 1vw;
    padding-top: 1vw;

}

.col2 {
    padding-left: 4vw;
    padding-right: 4vw;
}

.text {
    padding-right: 19vw;
    padding-bottom: 9vw;
}

.link3 {
    padding-bottom: 4vw;
}

/*IMAGE STØRRELSER */

.col1 img {
    width: 85vw;
    height: 110vw;
}

.col2 img {
    width: 85vw;
    height: 55vw;

}


@media (min-width: 800px) {

    /*    INDHOLD */


    #animation {
        display: flex;
        background-color: white;
        box-sizing: border-box;
        margin-top: 7vw;
        margin-right: 6vw;
        margin-left: 6vw;
    }

    .col1 {
        padding-left: 2vw;
        padding-right: 1vw;

    }

    .text {
        padding-right: 1.5vw;

    }

    .skills {
        position: relative;
        left: 6vw;
        top: 3vw;
        bottom: 4vw;

    }

    .col2 .link {
        padding-left: 3vw;
    }

    /*    IMAGE STØRRELSER*/

    .col1 img {
        margin-top: 3vw;
        margin-bottom: 2vw;
        width: 30vw;
        height: 40vw;
    }

    .col2 img {
        width: 45vw;
        height: 30vw;

    }


}
