body {
    background-image: url(images/background.jpg);
}

/*CONTENT */

#animation {
    background-color: white;
    box-sizing: border-box;
    margin-right: 1vw;
    margin-left: 1vw;
}

.col1 {
    padding-left: 4vw;
    padding-right: 1vw;
    padding-top: 1vw;

}

.col2 {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vw;
}

.text {
    padding-right: 19vw;
    padding-bottom: 9vw;
}

/*TEXT STYLES*/

h1 {
    font-size: 2rem;
    color: #2b645d;
}

.col2 h2 {
    font-size: 1.3rem;
    color: #2b645d;
}

p {
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 250;
}

.imgtext {
    font-style: italic;
}


/*LINKS STYLES*/

.link1 {
    position: relative;
    font-size: 2.5rem;
    background-color: white;
    text-align: left;
}


.link3 {
    padding-bottom: 4vw;
}

/*IMAGES */

.col1 img {
    width: 85vw;
    height: 110vw;
}

.col2 img {
    width: 85vw;
    height: 55vw;

}


@media (min-width: 800px) {

    /*CONTENT */


    #animation {
        display: flex;
        background-color: white;
        box-sizing: border-box;
        margin-top: 7vw;
        margin-right: 6vw;
        margin-left: 6vw;
    }

    .col1 {
        padding-left: 2vw;
        padding-right: 1vw;

    }

    .col2 {
        padding-top: 6vw;
    }

    .text {
        padding-right: 1.5vw;
        padding-bottom: 2vw;

    }

    .skills {
        position: relative;
        left: 6vw;
        top: 3vw;
        bottom: 4vw;

    }


    .imgtext {
        margin-bottom: 2vw;
    }


    /*    LINKS STYLES*/

    .link1 {
        padding-left: 6vw;
    }

    .link2 {
        padding-left: 6vw;
        padding-top: 6vw;
        padding-bottom: 1vw;
    }

    .link3 {
        padding-left: 6vw;
        padding-top: 1vw;
        padding-bottom: 2vw;
    }


    /*    IMAGES */

    .col1 img {
        width: 30vw;
        height: 40vw;
    }

    .col2 img {
        width: 45vw;
        height: 30vw;
        margin-bottom: 5vw;

    }


}
