/*Mobile version*/

/*CONTENT*/

#frontpage {
    overflow: hidden;
}

.frontpage_img img {
    position: relative;
    top: 0;
    left: 0;
    height: 60vh;
    width: auto;
    overflow: hidden;



}

.frontpage_text {
    display: block;
    position: absolute;
    background-color: #2b645d;
    bottom: 34.5% !important;
    left: 27% !important;
    width: 51% !important;
    height: 30%;
    padding-right: 3%;
    padding-left: 3%;

}

.projekter_knap {
    display: block;
    position: absolute;
    bottom: 37.5% !important;
    margin-left: 35.5% !important;
    margin-right: 30% !important;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: white;

}

#fronttext {
    background-color: #F0EBE7;
    margin-top: 3vw;
    width: 100%;
    padding: 2vw;
    padding-bottom: 10vw;
}

.image img {
    width: 100%;
    height: 110vw;
    position: relative;
}


.text {
    position: relative;
    bottom: 6vw;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;


}

.text1 {
    position: relative;
    bottom: 3vw;
    padding-right: 7vw;
    margin-left: 3vw;

}

.text2 {
    position: relative;
    padding-right: 5vw;
    0 padding-bottom: 15vw;
    margin-left: 6vw;
}

.text2 p {
    font-size: 0.9rem;
    position: relative;
}


.text1 p {
    font-style: italic;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 100;
    text-align: justify;


}

.text2 p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;

}

.text1 span {
    font-size: 6rem;
    font-family: 'Oswald', sans-serif;

}

.ommig_knap {
    display: block;
    position: absolute;
    margin-left: 24vw;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: white;

}



.projekter_knap:hover {
    transform: scale(1.1);
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.ommig_knap:hover {
    transform: scale(1.1);
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}


/*TEXT STYLES */

@font-face {
    font-family: 'shantikregular';
    src: url('fonts/shantik-webfont.woff2') format('woff2'),
        url('fonts/shantik-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.frontpage_text p,
h1 {
    margin: 0px;
    padding: 2px;
    color: white;
}


h1 {
    font-family: 'shantikregular';
    font-size: 1.9rem;
    text-align: center;
}

p {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.4;
}

@media (min-width: 900px) {

    /*   CONTENT */


    .frontpage_text {
        display: block;
        position: absolute;
        bottom: 18.1% !important;
        width: 34% !important;
        height: 33% !important;
        left: 32.4% !important;
        padding-right: 2%;
        padding-left: 2%;



    }

    .projekter_knap {
        display: block;
        position: absolute;
        bottom: 20% !important;
        margin-left: 42% !important;
        margin-right: 30% !important;
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;

    }

    /*    TEXT STYLES*/

    h1 {
        font-size: 3rem;

    }

    p {
        font-size: 1.3rem;
    }

    /*    IMAGES*/

    .frontpage_img img {
        height: 43vw;
        width: 100%;

    }


    #fronttext {
        background-color: #F0EBE7;
        display: flex;
        margin-top: 3vw;
        width: 100%;
        padding: 2vw;
    }

    .image img {
        width: 35vw;
        height: 43vw;
        position: relative;
        left: 4.5vw;
        top: 1.1vw;
    }

    .text1 {
        top: 5vw;
        bottom: 0;
        left: 14vw;
        margin-right: 20vw;
    }

    .text2 {
        position: relative;
        bottom: 0;
        left: 11vw;
        padding-bottom: 12vw;
        margin-right: 14vw;
        top: 6vw;
    }

    .ommig_knap {
        display: block;
        position: absolute;
        left: 28vw;
        bottom: 0;
        margin-left: 0;
        background-color: white;


    }



}
