.frontpage_image {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

}

.frontpage_text {
    display: block;
    position: absolute;
    background-color: #2b645d;
    bottom: 25.5% !important;
    width: 41% !important;
    height: 22% !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    padding-right: 3%;
    padding-left: 3%;

}

.projekter_knap {
    display: block;
    position: absolute;
    bottom: 27.5% !important;
    margin-left: 35% !important;
    margin-right: 30% !important;
    padding-right: 2%;
    padding-left: 2%;
    background-color: white;

}

@font-face {
    font-family: 'shantikregular';
    src: url('fonts/shantik-webfont.woff2') format('woff2'),
        url('fonts/shantik-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1,
p {
    margin: 0px;
    padding: 2px;
    color: white;
}


h1 {
    font-family: 'shantikregular';
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-size: 0.8rem;
    line-height: 1.4;
}

@media (min-width: 700px) {

    .frontpage_text {
        display: block;
        position: absolute;
        bottom: 9.7% !important;
        width: 26% !important;
        height: 29% !important;
        margin-left: 34.4% !important;
        margin-right: 33% !important;
        padding-right: 2%;
        padding-left: 2%;

    }

    .projekter_knap {
        display: block;
        position: absolute;
        bottom: 12% !important;
        margin-left: 38% !important;
        margin-right: 30% !important;
        padding-right: 2%;
        padding-left: 2%;

    }


    h1 {
        font-family: 'shantikregular';
        font-size: 1.9rem;
        text-align: center;
    }

    p {
        font-size: 1rem;
        line-height: 1.4;
    }
}

@media (min-width: 1000px) {

    .frontpage_image {
        height: 100%;
        width: 100%;
    }


    .frontpage_text {
        display: block;
        position: absolute;
        bottom: 13.5% !important;
        width: 27% !important;
        height: 45% !important;
        margin-left: 34.2% !important;
        margin-right: 33% !important;
        padding-right: 2%;
        padding-left: 2%;

    }

    .projekter_knap {
        display: block;
        position: absolute;
        bottom: 19% !important;
        margin-left: 41% !important;
        margin-right: 30% !important;
        padding-right: 2%;
        padding-left: 2%;
        padding-top: 1%;
        padding-bottom: 1%;

    }

    h1 {
        font-size: 3rem;

    }

    p {
        font-size: 1.5rem;
    }
