section {
    max-width: 1200px;
}

body {
    background-image: url(images/background.jpg);
}

/*Mobile version*/

/*CONTENT*/

#indhold {
    background-color: white;
    box-sizing: border-box;
    margin-right: 1vw;
    margin-left: 1vw;
}

.col1 {
    padding-left: 4vw;
    padding-right: 12vw;
    padding-top: 1vw;

}

.col2 {
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 2vw;
}

.text1 {
    padding-right: 6vw;
    padding-bottom: 4vw;

}

.text2 {
    padding-right: 14vw;
}

/*TEXT STYLES*/

#indhold h1 {
    font-size: 2rem;
    color: #2b645d;

}

#indhold p {
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

figcaption {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}


.col2 h2 {
    font-size: 1.3rem;
    color: #2b645d;
}

/*LINKS STYLES*/

.link1 {
    padding-top: 4vw;
}

.link2 {
    position: relative;
    font-size: 2.2rem;
    line-height: 1.1em;
    text-align: left;
    padding-top: 4vw;
    padding-bottom: 4vw;

}


/*IMAGES & VIDEO */

.col1 iframe {
    width: 87vw;
    height: 60vw;
}

.col2 img {
    width: 90vw;
    height: 65vw;

}

@media (min-width: 800px) {


    /* CONTENT */

    #indhold {
        display: flex;
        background-color: white;
        box-sizing: border-box;
        margin-top: 7rem;
        margin-right: 4.5rem;
        margin-left: 5rem;
    }

    .col1 {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: 2vw;


    }

    .col2 {

        padding-top: 2vw;
        padding-left: 0;
        padding-right: 0;

    }

    .text1 {
        padding-right: 10vw;
    }

    .text2 {
        padding-left: 6vw;
        padding-right: 11vw;

    }

    .skills {
        padding-left: 6vw;
        padding-bottom: 1vw;
        padding-top: 0;

    }

    .link1 {
        padding-left: 6vw;
        padding-top: 3vw;

    }

    .link2 {
        padding-top: 2vw;
        padding-left: 6vw;
        padding-bottom: 2vw;
    }

    /*    IMAGES & VIDEO */


    #indhold img {
        position: relative;
        width: 45vw;
        height: 30vw;
        right: 2vw;

    }

    .col1 iframe {
        width: 35vw;
        height: 23vw;
    }

}
