section {
    max-width: 1200px;
}

/*Mobile version*/

/*CONTENT*/

#kontakt {
    background-color: #F0EBE7;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 5rem;
}


.kontaktinfo {
    list-style-type: none;
    margin-top: 40px;
    line-height: 4rem;

}

.telefon {
    margin-left: 1vw;
}

.kontakt {
    color: #2b645d;
}

/*FORMS */

input,
textarea,
button {
    display: block;
    background: white;
    border: none;
    width: 23rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
    box-sizing: border-box;
    border-radius: 4px;
}

form {
    color: black;
    border-radius: 120px;
    margin-top: 2rem;

}

button {
    margin-top: 10px;

}

label {
    display: block;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

}

input,
select {
    padding: 5px;
    font-size: 1rem;
}


/*TEXT STYLES*/

#kontakt p {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#kontakt h1 {
    font-family: 'Oswald', sans-serif;
}

#kontakt h2 {
    font-size: 1.3rem;
}

/*IMAGES*/

.kontaktinfo img {
    height: 5vw;

}

.image img {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0.3rem;
    width: 112%;
    transition: transform .5s ease;
}


@media (min-width: 900px) {

    /*    CONTENT*/

    #kontakt {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #F0EBE7;
        margin: 1rem;
        margin-right: 4.5rem;
        margin-left: 5rem;
        padding: 2rem;
    }

    .kontaktinfo {
        display: flex;
        list-style-type: none;

    }

    .telefon {
        margin-left: 2vw;
    }

    .image {
        grid-column: 2/2;
    }

    .kontaktmig {
        grid-column: 1/1;

    }

    /*    IMAGES*/


    .image img {
        width: 80%;
        margin-top: 6rem;
        margin-left: 4rem;
    }

    .kontaktinfo img {
        height: 1.5vw;
    }

    .image:hover img {
        transform: scale(1.1);
    }

}
