/*Alt på mobile*/

/*Burgermenu*/

#menuknap {
    display: block;
    text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;

}

#menu {
    list-style-type: none;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: auto;
    margin-right: 33px;
    top: 4rem;
    left: 25vw;

}

#header img {
    width: 50vh;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
}

.some {
    margin-top: 1rem;
}


/*Classes til brug i js*/

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}

/*Links styling*/

a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

a:hover {
    color: #cdb891;
    font-family: 'Roboto', sans-serif;
}

a:active {
    color: #cdb891;
    font-family: 'Roboto', sans-serif;
}

/*FOOTER*/

.copyright {
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    flex: 0 0 50%;
}

.some {
    flex: 0 0 50%;
    text-align: right !important;
    margin-top: 5%;
}

#footer {
    padding: 0;
}

#footer img {
    width: 40px;
    margin: 0px 3px;
    transition: all 0.5s ease;

}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

#footer p {
    margin: 0;
    font-size: 0.9rem;
}

#footer h2 {
    margin: 0;
}

#footer img {
    margin: 0px 3px;

}

/*SKRIFTSTØRRELSER */

h2 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}

@media (min-width:900px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }
}
