/*CONTENT*/

.section_wrapper {
    background-color: #F0EBE7;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.button {
    background-color: white;
    color: black;
    width: 150px;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    padding: 5px 10px 5px 10px;
    margin-top: 20px;
    transition: all 0.5s;

}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #2b645d;
}

.button a {
    color: white;
    text-decoration: none;
}

/* TEXT STYLES */

#praesentation_section p {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;

}

#praesentation_section h1 {
    font-family: 'Oswald', sans-serif;
}

.col1 p {
    font-style: italic;
}

.om {
    color: #2b645d;
}

/*IMAGES */

.image img {
    width: 86vw;
    height: 105vw;
}

@media (min-width: 1000px) {

    /*    CONTENT*/

    .section_wrapper {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: 1fr 1fr;
        background-color: #F0EBE7;
        box-sizing: border-box;
        margin: 1rem;
        margin-right: 4.5rem;
        margin-left: 5rem;

    }

    .row_tekst {
        max-width: 100%;
        padding: 2rem;
    }


    /*TEXT STYLES*/

    p {
        font-size: 1.1rem;
        font-family: 'Roboto', sans-serif;
    }

    /*    IMAGES*/

    .image img {
        width: 100vw;
        height: 40vw;
        box-sizing: border-box;
        flex: 0 0 70.666667%;
        max-width: 80.666667%;
        padding: 2rem;
        margin-top: 3rem;
        margin-left: 4rem;

    }

}
