body {
    background-image: url(images/ny1%2017.29.56.jpg);
}

.tema:hover .overlay {
    opacity: 1;
}


.tema {
    margin-top: 2.5rem;
    position: relative;
    overflow: hidden;
}

.temaer img {
    display: inline;
    width: 87vw;
    height: 85vw;
    opacity: 80%;
    margin: 0;

}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85vw;
    width: 87vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #2b645d;
}

@media (min-width: 900px) {

    h1 {
        margin-top: 5rem;
        font-size: 3rem;
        margin-left: 5rem;
        color: #2b645d;
    }

    .tema:hover .overlay {
        opacity: 1;
    }

    .temaer {
        display: flex;
        margin-top: 9rem;
        margin: 2rem;
        margin-left: 3rem;
        justify-content: space-between;
        padding: 1rem;


    }

    .tema {
        margin-top: 2.5rem;
        position: relative;
        overflow: hidden;


    }

    .temaer img {
        display: inline;
        width: 20vw;
        height: 18vw;
        opacity: 80%;
        margin: 0;

    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-family: 'Oswald', sans-serif;

    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 18vw;
        width: 20vw;
        opacity: 0;
        transition: .5s ease;
        background-color: #2b645d;
    }

}
