body {
    background-image: url(images/mobilebg.jpg);
}

h1 {
    font-size: 3rem;
    color: black;
    padding-left: 5vw;
}

.portfolio {
    color: #2b645d;
}

.tema:hover .overlay {
    opacity: 1;
}


.tema {
    position: relative;
    overflow: hidden;
    margin-left: 5vw;

}

.temaer img {
    display: inline;
    width: 85vw;
    height: 85vw;
    opacity: 80%;
    margin-bottom: 4vw;

}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Oswald', sans-serif;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 85vw;
    width: 85vw;
    opacity: 0;
    transition: .5s ease;
    background-color: #2b645d;

}

@media (min-width: 700px) {

    h1 {
        margin-top: 4vw;
        font-size: 3rem;
    }

    .tema:hover .overlay {
        opacity: 1;
    }

    .temaer {
        display: flex;
        margin: 4.5vw;
        justify-content: space-between;


    }

    .tema {
        position: relative;
        overflow: hidden;
        margin-left: 0;


    }

    .temaer img {
        display: inline;
        width: 21vw;
        height: 21vw;
        opacity: 80%;
        margin: 0;

    }

    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        font-family: 'Oswald', sans-serif;

    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 21vw;
        width: 21vw;
        opacity: 0;
        transition: .5s ease;
        background-color: #2b645d;
    }

}
