body {
    background-image: url(images/bgnew2.jpg);
}

h1 {
    font-size: 2rem;
    color: #2b645d;

}

p {
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.col1 {
    padding-left: 1rem;
    padding-right: 1rem;

}

.col2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

#ux {
    background-color: white;
    box-sizing: border-box;
    margin-top: 7rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.link a {
    position: relative;
    font-size: 2.5rem;
    background-color: white;
    border-radius: 2vw;
    font-family: 'Teko', sans-serif;
    display: inline-block;
    text-align: left;
}


.col2 img {
    width: 85vw;
    height: 70vw;

}

.text img {
    width: 90vw;
    height: 53vw;
}


@media (min-width: 800px) {

    .text {
        padding-left: 1rem;
        padding-right: 1rem;
    }


    .skills {
        padding-left: 8rem;
        padding-bottom: 4rem;

    }

    .text img {
        width: 35vw;
        height: 23vw;
    }

    .link2 {
        padding-top: 3rem;
        font-size: 2rem;
    }


    #ux {
        display: flex;
        background-color: white;
        box-sizing: border-box;
        margin-top: 7rem;
        margin-right: 4.5rem;
        margin-left: 5rem;

    }

    .col2 img {
        width: 45vw;
        height: 30vw;
        padding-left: 3rem;

    }

}
